{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1>{% trans "OPEN edX Badges" %}</h1>
    <p>
        {% blocktrans %}
        Welcome to the <b>OPEN edX</b> contributor recognition program! Badges are one of our ways of supporting our <a href="http://code.edx.org">open source community</a> and rewarding our individual contributors with the recognition they deserve. 
        {% endblocktrans %}
    </p>
    
    <h3>How to get involved</h3>
    <p>
        {% blocktrans %}
        Contribute to an open source project that has an impact on tens of thousands of learners. We share our codebase on <a href="http://github.com/edx/">GitHub</a> and discuss ideas on the <a href="http://groups.google.com/forum/#!forum/edx-code">mailing list</a>.
        {% endblocktrans %}
    </p>
    
    
        {% url "what_next" as what_next_url %}
        <p class="what_next">{% blocktrans %}Head on over to our community site and <a href="http://code.edx.org" class="btn btn-primary large">Get started</a> earning badges today.{% endblocktrans %}</p>
    
{% endblock %}

{% block column-1 %}
    <h2>About Open badges</h2>
    <p>This project issues Mozilla Open Badges Infrastructure-compliant digital badges. That means you'll be able to take them with you and display them alongside credentials you've earned from other places.
    <p><a class="btn btn-default" href="http://openbadges.org">Learn more &raquo;</a></p>
{% endblock %}

{% block column-2 %}
    <h2>About edX</h2>
    <p>Take great online courses from the world's best universities. OPEN edX is the open source platform that powers edX.org, a free source for high quality online courses led by expert instructors.</p>
    <p><a class="btn btn-default" href="http://edx.org">edX.org &raquo;</a></p>
{% endblock %}

{% block column-3 %}
    <h2>Contributor Badges</h2>
    <p>Here are the badges available for contributors to OPEN edX.</p>
    <p><a class="btn btn-default" href="/bk/badges">See badges &raquo;</a></p>
{% endblock %}
